.landingPageSmallImage:hover {
    cursor: pointer;
}

.landingPageSmallCard:hover {
    transform: scale(1.05);
    transition: transform 200ms linear;
    transition-duration: 0.25s;
}

.landingPageSmallCard:hover {

}

.backgroundDivForImage {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.9) 100%);
}

.backgroundDivForImage:hover {
    cursor: pointer;
}

.backgroundDivForImageText {
    position: relative;
    bottom: 150px;
    left: 15px
}
