.landingPageSmallImage:hover {
    cursor: pointer;
}

.landingPageSmallCard:hover {
    transform: scale(1.1);
    transition: transform 200ms linear;
    transition-duration: 0.25s;
    z-index: 555555 !important;
}

.backgroundDivForImage {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.8) 100%);
}

.backgroundDivForImage:hover {
    cursor: pointer;
}

.backgroundDivForImageText {
    position: relative;
    bottom: 150px;
    left: 15px
}
