.tvShowDetailsForImage {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.7) 100%);
}

.tvShowDetailsForImageText {
    position: relative;
    bottom: 150px;
    left: 15px
}
